
@import url('//fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');


$gotham: 'Montserrat', sans-serif;

$max_width: 1180px;

$nyfiregray: #3A3E3D;
$gold: #eabc4d;
$blue: #003a70;
$red: #C92127;
$yellow: #FFCF31;
$orange: #F5851D;
$light-gray: #F1EFE9;
$light-blue: #87d5ff;
$medium-gray: #666;
$dark-gray: #0d1d3f;
$black: #0a0a0a;
$white: #ffffff;
$warning: $orange;
$body-font-color: $dark-gray;
$body-background: $white;
$body-font-family: $gotham;
$body-antialiased: true;